@font-face {
    font-family: 'Expo Arabic Book';
    src: url('subset-ExpoArabic-Book.woff2') format('woff2'),
        url('subset-ExpoArabic-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Expo Arabic';
    src: url('subset-ExpoArabic-SemiBold.woff2') format('woff2'),
        url('subset-ExpoArabic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Expo Arabic';
    src: url('subset-ExpoArabic-Bold.woff2') format('woff2'),
        url('subset-ExpoArabic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Expo Arabic';
    src: url('subset-ExpoArabic-Light.woff2') format('woff2'),
        url('subset-ExpoArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Expo Arabic';
    src: url('subset-ExpoArabic-Light.woff2') format('woff2'),
        url('subset-ExpoArabic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Expo Arabic';
    src: url('subset-ExpoArabic-Medium.woff2') format('woff2'),
        url('subset-ExpoArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

